bin/
obj/
.git/
.github/
.gitignore
.vs/
.vscode/
**/*.md
**/*.user
**/*.suo
Dockerfile*
docker-compose*
.dockerignore
.env
.DS_Store
.idea/
License
README.md
properties/launchSettings.json
**/[Tt]est[Rr]esults/